{% extends 'tenantmanagement/base_tenantProfile.html' %}
{% load static %}
{% block title %} {% endblock title %}
{% block main-content-tenant %}
<div class="row">

  <div class="col-lg-6 col-xl-6">
    <div class="card card-action mb-4">
      <div class="card-header align-items-center">
        <h5 class="card-action-title mb-0">Category</h5>
        <div class="card-action-element">
          <div class="dropdown">
            <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" aria-expanded="false"><i class="ti ti-dots-vertical text-muted"></i></button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="javascript:void(0);">Share connections</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);">Suggest edits</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="javascript:void(0);">Report bug</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li class="mb-3">
            <div class="d-flex align-items-start">
              <div class="d-flex align-items-start">
                <!-- <div class="avatar me-2">
                  <img src="/static/assets/img/avatars/2.png" alt="Avatar" class="rounded-circle" />
                </div> -->
                <div class="me-2 ms-1">
                  <h6 class="mb-0">Electronics</h6>
                  <small class="text-muted">45 Brands</small>
                </div>
              </div>
              <div class="ms-auto">
                <button class="btn btn-label-primary btn-icon btn-sm waves-effect"><i class="ti ti-user-check ti-xs"></i></button>
              </div>
            </div>
          </li>
          <li class="mb-3">
            <div class="d-flex align-items-start">
              <div class="d-flex align-items-start">
                <!-- <div class="avatar me-2">
                  <img src="/static/assets/img/avatars/3.png" alt="Avatar" class="rounded-circle" />
                </div> -->
                <div class="me-2 ms-1">
                  <h6 class="mb-0">Clothings</h6>
                  <small class="text-muted">13 Brands</small>
                </div>
              </div>
              <div class="ms-auto">
                <button class="btn btn-primary btn-icon btn-sm waves-effect waves-light"><i class="ti ti-user-x ti-xs"></i></button>
              </div>
            </div>
          </li>
          <li class="mb-3">
            <div class="d-flex align-items-start">
              <div class="d-flex align-items-start">
                <!-- <div class="avatar me-2">
                  <img src="assets/img/avatars/10.png" alt="Avatar" class="rounded-circle" />
                </div> -->
                <div class="me-2 ms-1">
                  <h6 class="mb-0">Wearable Brand</h6>
                  <small class="text-muted">125 Brands</small>
                </div>
              </div>
              <div class="ms-auto">
                <button class="btn btn-primary btn-icon btn-sm waves-effect waves-light"><i class="ti ti-user-x ti-xs"></i></button>
              </div>
            </div>
          </li>
          <li class="mb-3">
            <div class="d-flex align-items-start">
              <div class="d-flex align-items-start">
                <!-- <div class="avatar me-2">
                  <img src="assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />
                </div> -->
                <div class="me-2 ms-1">
                  <h6 class="mb-0">Kids</h6>
                  <small class="text-muted">456 Brands</small>
                </div>
              </div>
              <div class="ms-auto">
                <button class="btn btn-label-primary btn-icon btn-sm waves-effect"><i class="ti ti-user-check ti-xs"></i></button>
              </div>
            </div>
          </li><li class="mb-3">
            <div class="d-flex align-items-start">
              <div class="d-flex align-items-start">
                <!-- <div class="avatar me-2">
                  <img src="assets/img/avatars/12.png" alt="Avatar" class="rounded-circle" />
                </div> -->
                <div class="me-2 ms-1">
                  <h6 class="mb-0">Grocery</h6>
                  <small class="text-muted">12 Brands</small>
                </div>
              </div>
              <div class="ms-auto">
                <button class="btn btn-label-primary btn-icon btn-sm waves-effect"><i class="ti ti-user-check ti-xs"></i></button>
              </div>
            </div>
          </li>
          <li class="text-center">
            <a href="javascript:;">View all connections</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-xl-6">
    <div class="card card-action mb-4">
      <div class="card-header align-items-center">
        <h5 class="card-action-title mb-0">Category</h5>
        <div class="card-action-element">
          <div class="dropdown">
            <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" aria-expanded="false"><i class="ti ti-dots-vertical text-muted"></i></button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="javascript:void(0);">Share connections</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);">Suggest edits</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="javascript:void(0);">Report bug</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li class="mb-3">
            <div class="d-flex align-items-start">
              <div class="d-flex align-items-start">
                <!-- <div class="avatar me-2">
                  <img src="/static/assets/img/avatars/2.png" alt="Avatar" class="rounded-circle" />
                </div> -->
                <div class="me-2 ms-1">
                  <h6 class="mb-0">Electronics</h6>
                  <small class="text-muted">45 Brands</small>
                </div>
              </div>
              <div class="ms-auto">
                <button class="btn btn-label-primary btn-icon btn-sm waves-effect"><i class="ti ti-user-check ti-xs"></i></button>
              </div>
            </div>
          </li>
          <li class="mb-3">
            <div class="d-flex align-items-start">
              <div class="d-flex align-items-start">
                <!-- <div class="avatar me-2">
                  <img src="/static/assets/img/avatars/3.png" alt="Avatar" class="rounded-circle" />
                </div> -->
                <div class="me-2 ms-1">
                  <h6 class="mb-0">Clothings</h6>
                  <small class="text-muted">13 Brands</small>
                </div>
              </div>
              <div class="ms-auto">
                <button class="btn btn-primary btn-icon btn-sm waves-effect waves-light"><i class="ti ti-user-x ti-xs"></i></button>
              </div>
            </div>
          </li>
          <li class="mb-3">
            <div class="d-flex align-items-start">
              <div class="d-flex align-items-start">
                <!-- <div class="avatar me-2">
                  <img src="assets/img/avatars/10.png" alt="Avatar" class="rounded-circle" />
                </div> -->
                <div class="me-2 ms-1">
                  <h6 class="mb-0">Wearable Brand</h6>
                  <small class="text-muted">125 Brands</small>
                </div>
              </div>
              <div class="ms-auto">
                <button class="btn btn-primary btn-icon btn-sm waves-effect waves-light"><i class="ti ti-user-x ti-xs"></i></button>
              </div>
            </div>
          </li>
          <li class="mb-3">
            <div class="d-flex align-items-start">
              <div class="d-flex align-items-start">
                <!-- <div class="avatar me-2">
                  <img src="assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />
                </div> -->
                <div class="me-2 ms-1">
                  <h6 class="mb-0">Kids</h6>
                  <small class="text-muted">456 Brands</small>
                </div>
              </div>
              <div class="ms-auto">
                <button class="btn btn-label-primary btn-icon btn-sm waves-effect"><i class="ti ti-user-check ti-xs"></i></button>
              </div>
            </div>
          </li><li class="mb-3">
            <div class="d-flex align-items-start">
              <div class="d-flex align-items-start">
                <!-- <div class="avatar me-2">
                  <img src="assets/img/avatars/12.png" alt="Avatar" class="rounded-circle" />
                </div> -->
                <div class="me-2 ms-1">
                  <h6 class="mb-0">Grocery</h6>
                  <small class="text-muted">12 Brands</small>
                </div>
              </div>
              <div class="ms-auto">
                <button class="btn btn-label-primary btn-icon btn-sm waves-effect"><i class="ti ti-user-check ti-xs"></i></button>
              </div>
            </div>
          </li>
          <li class="text-center">
            <a href="javascript:;">View all connections</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

{% endblock main-content-tenant %}







